body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-bottom: 60px;  /* Space for the buttons at the bottom */
    padding-left: 10px;
    padding-top: 10px;
}

.table-container {
    flex: 1;
    border: 2px solid #000;  /* Add a border around the table */
    padding: 20px;  /* Increase padding around the table */
    margin-right: 20px;  /* Adjust space to the right for the text */
    margin-left: 20px;  /* Add space from the left */
    box-sizing: border-box;  /* Ensures padding doesn't affect overall width */
    height: calc(100vh - 60px); /* Makes room for the buttons */
    overflow: hidden;  /* Clipping content that exceeds the container */
    border-radius: 15px;  /* Apply rounded corners */
    background-color: #ffffff; /* Optional: Add a background color for clarity */
    display: flex;  /* Ensure content aligns properly */
    align-items: center;  /* Center content vertically */
    justify-content: center;  /* Center content horizontally */
}

table {
    border-collapse: collapse;
    width: 100%;
    height: auto; /* Prevent table from stretching vertically */
    margin: 0;
    border-spacing: 0;
    overflow: hidden;  /* Ensure the table doesn't spill out */
}


th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5vw;
}


#detail-panel {
    width: 30%;
    padding: 10px;
    overflow-y: auto;
}

.green1 { background-color: #c8f9bd; }
.green2 { background-color: #85fb69; }
.green3 { background-color: #2fff00; }

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    #detail-panel {
        width: 100%;
    }
    
    th, td {
        font-size: 2vw;
    }
}

/* Position the average level, save and load buttons outside the table */
#average-level {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

/* Styling for the fixed position save and load buttons */
#buttons-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999; /* Ensure the buttons are on top */
    display: flex;
    gap: 10px;
}

/* Define the flash animation */
@keyframes flash-yellow {
    0% { background-color: yellow; }
    100% { background-color: inherit; } /* Restore the original background color */
}

/* Apply the animation on hover */
td:not(:first-child):hover {
    animation: flash-yellow 0.5s ease-out; /* Adjust duration as needed */
}
